@import url("https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

body {
	font-family: "Open Sans", serif;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

.contenedor-principal {
	height: 100vh;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #000;
}

.contenedor-datos {
	background-color: #2c3e50;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor_datos__info {
	width: 60%;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 2px;
}

.datos__titulo {
	color: #f16051;
	border-bottom: solid 2px rgba(255, 255, 255, 0.06);
	padding: 20px 0 20px 0;
	font-weight: 400;
}

.datos__valor {
	color: #fff;
	font-weight: 200;
}

@media (max-width: 765px) {
	body {
		width: 97vw;
	}
	.contenedor-principal {
		height: 40%;
	}

	.contenedor-datos {
		height: 60%;
	}
	.contenedor_datos__info {
		width: 80vw;
		font-size: 15px;
		font-weight: 50;
	}

	.datos__titulo {
		padding: 10px 0 10px 0;
		font-weight: 40;
	}
	.datos__valor {
		font-weight: 40;
	}
}
